<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.zero.mapper.UserRoleMapper">

    <sql id="columns">
        ID,
        USER_ID,
        ROLE_ID,
        CREATE_BY,
        CREATE_DATE,
        UPDATE_BY,
        UPDATE_DATE,
        REMARKS,
        ACTIVE_FLAG
    </sql>

    <!--新增用户角色-->
    <insert id="insertUserRole">
        INSERT INTO SYS_USER_ROLE
        (
            ID,
            USER_ID,
            ROLE_ID,
            CREATE_BY,
            CREATE_DATE,
            REMARKS,
            ACTIVE_FLAG
        ) VALUES
        <foreach collection="list" separator="," index="index" item="item">
            (
            #{item.id},
            #{item.userId},
            #{item.roleId},
            #{item.createBy},
            #{item.createDate},
            #{item.remarks},
            '1'
            )
        </foreach>
    </insert>

    <!--删除用户的角色-->
    <update id="delUserRole">
        UPDATE SYS_USER_ROLE
        <set>
            ACTIVE_FLAG = '0',
            <if test="updateBy != null and updateBy != ''">
                UPDATE_BY = #{updateBy},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate},
            </if>
        </set>
        <where>
            ACTIVE_FLAG = '1'
            AND USER_ID = #{id}
        </where>
    </update>
</mapper>